.mw-80 { max-width: 80%; }
.mxh-100 { max-height: 100%; }
.mnh-100 { min-height: 100%; }

.whole {
  max-height: calc(80vh + 2.5rem + 2px);
  min-height: calc(80vh + 2.5rem + 2px);
}
.halves {
  max-height: calc((80vh / 2) - 0.5rem);
  min-height: calc((80vh / 2) - 0.5rem);
}
