<header>
  <Nav/>
</header>
<main>
  <div class="container-fluid mt-2">
    <div class="row h-100">
      <div class="col-3 pr-1">
        <div class="row">
          <div class="col-12">
            <LatestTorrents />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <PopularTorrents />
          </div>
        </div>
      </div>
      <div class="col-9 pl-1">
        <div class="row">
          <div class="col-12">
            {{outlet}}
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
