<div class="card rounded-0 glass">
  <div class="card-header font-weight-bold">
    <LinkTo @route="home" class="text-white">Index</LinkTo>
    <i class="fas fa-chevron-right"></i>
    {{model.name}}
  </div>
  <div class="card-body bg-dark p-0 scroll whole">
    <div class="list-group list-group-flush">
      {{#each model.torrents as |torrent|}}
        <ListGroupTorrent @torrent={{torrent}} />
      {{/each}}
    </div>
  </div>
</div>