<div class="card rounded-0 glass">
  <div class="card-header font-weight-bold">
    Index
  </div>
  <div class="card-body bg-dark p-0 scroll whole">
    <div class="list-group list-group-flush">
      {{#each-in model.families as |family data|}}
        <ListGroupIndex @family={{family}} @data={{data}} />
      {{/each-in}}
    </div>
  </div>
</div>