<div class="card rounded-0 glass">
  <div class="card-header font-weight-bold">
    <LinkTo @route="home" class="text-white">Index</LinkTo>
    <i class="fas fa-chevron-right"></i>
    <LinkTo @route="family" @model="{{model.family}}" class="text-white">{{model.family}}</LinkTo>
    <i class="fas fa-chevron-right"></i> {{model.name}}
  </div>
  <div class="card-body bg-dark scroll whole">
    <div class="row">
      <div class="col-5">
        <div class="card rounded-0 border-0">
          <div class="card-header rounded-0">
            General Statistics
          </div>
          <div class="card-body p-0 h-100">
            <table class="table table-dark mb-0">
              <tbody>
                <tr>
                  <th scope="row">Info Hash</th>
                  <td>{{model.info_hash}}</td>
                </tr>
                <tr>
                  <th scope="row">Date Created</th>
                  <td>{{format-time model.creation_date}}</td>
                </tr>
                <tr>
                  <th scope="row">Total Size</th>
                  <td>{{format-bytes model.size}}</td>
                </tr>
                <tr>
                  <th scope="row">Peers</th>
                  <td>
                    <i class="fas fa-arrow-up" style="color: var(--success)"></i>{{model.peers.seeders}} <i class="fas fa-arrow-down" style="color: var(--danger)"></i>{{model.peers.leechers}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Download</th>
                  <td>
                    <a href="{{model.magnet}}" class="btn btn-primary btn-sm rounded-0">
                      <i class="fas fa-magnet"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="card rounded-0 border-0">
          <div class="card-header rounded-0">
            Files
          </div>
          <div class="card-body bg-dark p-0 h-100">
            <div class="list-group list-group-flush">
              {{#each model.files as |file|}}
                <ListGroupFile @name={{file.name}} @size={{file.size}} />
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>