<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FinlayDaG33k ISO Repository</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor/fontawesome.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor/bootstrap.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/themes/default.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/app.css">


    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/front-end.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
