@import 'components/_card.scss';
@import 'components/_list-group.scss';
@import 'components/_nav.scss';

@import 'utilities/_sizing.scss';

body {
  background-color: var(--background-medium);
  color: var(--white-light);
}
