@import "../vendor/bootstrap/functions";
@import "../vendor/bootstrap/variables";
@import "../vendor/bootstrap/mixins/_breakpoints";

@include media-breakpoint-up(xs) {
  .list-group-h-100 {
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
  }

  .list-group-vh-80 {
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: scroll;
    overflow-x: auto;
  }
}


.list-group-item {
  background-color: transparent;
  width: 100%;
  white-space: nowrap;

  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: rgba(var(--background-light-rgb), 1);
  }

  &-action {
    &.active{
      background-color: transparent;
      border-top-width: 0 !important;
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin-top: -1px;
    }

    &:focus {
      background-color: transparent;
    }
  }
}
