<div class="card rounded-0 glass">
  <div class="card-header font-weight-bold">
    Latest
  </div>
  <div class="card-body bg-dark p-0 scroll halves">
    <div class="list-group list-group-flush">
      {{#each this.items as |torrent|}}
        <ListGroupTorrent @torrent={{torrent}} />
      {{/each}}
    </div>
  </div>
</div>
