<LinkTo @route="torrent" @model="{{this.torrent.info_hash}}" class="list-group-item list-group-item-action flex-column align-items-start text-white">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 mw-80">{{this.torrent.name}}</h5>
    <small><i class="fas fa-arrow-up" style="color: var(--success)"></i>{{this.torrent.peers.seeders}} <i class="fas fa-arrow-down" style="color: var(--danger)"></i>{{this.torrent.peers.leechers}}</small>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <small>{{format-time this.torrent.creation_date}}</small>
    <small>{{format-bytes this.torrent.size}}</small>
  </div>
</LinkTo>