<a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 mw-80">{{this.name}}</h5>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <small>{{format-bytes this.size}}</small>
    <small></small>
  </div>
</a>