<LinkTo @route="family" @model="{{this.family}}" class="list-group-item list-group-item-action flex-column align-items-start text-white">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 mw-80">{{this.family}}</h5>
    <small></small>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <small>{{this.count}} ISOs</small>
    <small>Last ISO added on {{format-time this.last_update}}</small>
  </div>
</LinkTo>