<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/img/logo-FDG-54x54.webp" alt="FDG Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        {{#link-to 'home' tagName='a' class="nav-link"}}Home{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'faq' tagName='a' class="nav-link"}}FAQ{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'donate' tagName='a' class="nav-link"}}Donate{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'legal' tagName='a' class="nav-link"}}Legal{{/link-to}}
      </li>
    </ul>
  </div>
</nav>